@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f6f3f1;
}

[data-theme='dark'],
[data-theme='dark'] :root {
  background: #282c35;
  color: #f6f3f1;
  opacity: 85%;
}

/* Blog post styles  */

.blogPost {
  font-size: 16px;
}

.blogPost p {
  line-height: 1.8;
  margin: 14px 0;
}

.blogPost pre {
  background-color: #272822;
  color: #f8f8f2;
  padding: 10px;
  border-radius: 0.3em;
  overflow-x: auto;
}

.blogPost pre code {
  white-space: inherit;
}
